.conteudo-portifolio {
  margin-left: 425px;
  background-color: #222222;
  min-height: 100vh;
  align-items: flex-start;
  padding-top: 45px;
  padding-left: 45px;
}

.grid-portifolio {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  justify-content: center;
}

/*css da pagina portifolio*/

.titulo-portifolio {
  color: #eee;
  font-size: 32px;
  font-weight: 600;
  position: relative;
  margin-bottom: 5rem;
}

.titulo-portifolio::after {
  position: absolute;
  opacity: 0.45;
  top: 15px;
  left: 126px;
  content: '';
  height: 30px;
  width: 50px;
  background-image: -webkit-repeating-radial-gradient(
    center center,
    #04b4e0,
    #04b4e0 1px,
    transparent 0px,
    transparent 100%
  );
  background-image: -moz-repeating-radial-gradient(
    center center,
    #04b4e0,
    #04b4e0 1px,
    transparent 0px,
    transparent 100%
  );
  background-image: -ms-repeating-radial-gradient(
    center center,
    #04b4e0,
    #04b4e0 1px,
    transparent 0px,
    transparent 100%
  );
  -webkit-background-size: 6px 6px;
  -moz-background-size: 6px 6px;
  background-size: 6px 6px;
  z-index: 0;
}

/*grid portifolio*/

.container-portifolio-quadro {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0 15px;
  margin-bottom: 2rem;
}

.imagem-portifolio {
  height: 250px;
  width: 250px;
  background-color: #eee;
  border-radius: 5px;
  background-position: center;
  background-size: cover;
}

.subtitulo-portifolio {
  font-size: 1.2rem;
  color: #eee;
  font-weight: 600;
  padding: 2rem;
}

.link-portifolio {
  position: absolute;
  height: 240px;
  width: 240px;
}

.container-portifolio-quadro:hover {
  transform: scale(1.1);
  transition: 300ms ease-in-out;
}

@media (max-width: 1010px) {
  .container-portifolio {
    justify-content: center;
  }
}

@media (max-width: 768px) {
  .conteudo-portifolio {
    margin: 0 auto;
    width: 100vw;
    padding: 2rem;
  }

  .container-portifolio {
    justify-content: space-around;
  }
}
